<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>243561906920-mbvq5qk3fs817pksj1c9fi2iu6mueovo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243561906920-mbvq5qk3fs817pksj1c9fi2iu6mueovo</string>
	<key>API_KEY</key>
	<string>AIzaSyAY_ttVCnCft78miooOH0cvuHHXZxTtKx0</string>
	<key>GCM_SENDER_ID</key>
	<string>243561906920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sitationsbloc</string>
	<key>PROJECT_ID</key>
	<string>citations-9eb31</string>
	<key>STORAGE_BUCKET</key>
	<string>citations-9eb31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243561906920:ios:39679aed19cb633d</string>
	<key>DATABASE_URL</key>
	<string>https://citations-9eb31.firebaseio.com</string>
</dict>
</plist>